
html,body{
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0dbf92;
  color: white;
}


.center-container{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15%;
}

.center-container-quizz{
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  background-color: #00a077;
  padding: 20px;
  border-radius: 5px;
  margin-top: 15%;
}


/*MAIN*/

#main-content{
  background-color: #0dbf92;
  color: white;
}
